*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    height:100vh;
    width:100%;

}
.top{
    background-color: #000000;
    color: white;
    display:flex;
    height:40px;
    gap:30px;
    padding-left:1000px;
    align-items: baseline;
    margin-top: 30px;
    }
.walletbtn{
    background: linear-gradient(135deg, #03f859, #00ffcc);
    color: white;
    border-color: white;
    width:100px;
    height:40px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    border: 3px solid #ffffff;
}
.middle{
    background-color: black;
    margin-top:100px;
    text-align: center;
    color: #000000;
    height:500px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    color:#000000;
    margin-top:170px;
    gap:30px;
}
.box1{
    border-radius: 20px;
    height:350px;
    width:240px;
    background-color: white;
    text-align: center;
}
.box2{
    border-radius: 20px;
    height:350px;
    width:240px;
    background-color: white;
}
.box3{
    border-radius: 20px;
    height:350px;
    width:240px;
    background-color: white;
}
.box4{
    border-radius: 20px;
    height:350px;
    width:240px;
    background-color: white;
}
h2{
    margin-top:30px;
}
p{
    margin-top: 40px;
}
.price{
    margin-top:45px;
    font-size: 30px;
    font-weight: bold;
}
.plan{
    margin-top:45px;
    height:40px;
    width:150px;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(135deg, #03f859, #00ffcc);
    border-color: #00ffcc;
    color:black;
}
h1{
    color:#ffffff;
    font-size: 40px;
    font-weight: bold;
}
.buybtn{

    display: block;
    margin: 0 auto;
    height:40px;
    width:150px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
    background: linear-gradient(135deg, #03f859, #00ffcc);
    border: 3px solid #ffffff;
    
}
