*{
    margin:0;
    padding: 0;
}
body{
    background-color: azure;
    height: 100vh;
    width: 100%;
}
h1{
    position: relative;
    top: 150px;
    color: #333;
}
.boxes{
 gap: 40px;
 display:flex;
 align-items: center;
 justify-content: center;
 margin-top: 30px;
 height: 300px;
 width: 100%;
 margin-top: 200px;
}
.box1{
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    width: 120px;
    height: 120px;
    border-style: dashed;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    width: 120px;
    height: 120px;
    border-style: double;
    border-radius: 30px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4{
    width: 120px;
    height: 120px;
    border-style: groove;
    border-radius: 30px;
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}